<div class="col-xs-12">
<% if (description) { %>
  <div class="col-xs-12">
    <div class="row">
      <p>
        <%- description %>
      </p>
    </div>
  </div>
<% } %>
  <% if (images.length) { %>
    <% images.forEach(function(image) { %>
      <div class="col-xs-12">
        <div id="<%- 'imgur-id-' + image.id %>">
          <h3>
            <%- image.title %>
          </h3>
            <img
              src="<%- image.link %>"
              class="img-thumbnail img-responsive"
              alt="<%- image.title %>"
            />
          <p>
            <%- image.description %>
          </p>
        </div>
      </div>
    <% }); %>
  <% } %>
</div>
